$colors:#D4D3D9;
$background: #FAFAFA;
$border: #F3F3F3;
$tag-a: #8BA1CE;
$text: #8A8A8A;
$text-2:#9A9A9A;
$border-button:#A3A3A3;
.div-image{
  position: relative;
  margin: auto;
  width: 70%;
  .div-1{
    .image{
      width: 100%;
      height: 400px;
    }
    #paper{
      color: white;
      position: absolute;
      left: 50px;
      top: 30px;
      .tag-a{
        color:white;
        text-decoration: none;
        //font-weight: 100;
      }
    }
    .class-menu{
      position: absolute;
      right: 85px;
      top: 10px;
      li{
        display: inline-block;
        margin-left: 15px;
        a{
          text-decoration: none;
          color: white;
          font-size: small;
          font-weight: 100;
        }
      }
    }
    .class-h5{
      color: $colors;
      position: absolute;
      top: 145px;
      left: 310px;
      font-size: 36px;
      font-weight: 100;
    }
    .class-h1{
      color: white;
      position: absolute;
      top: 232px;
      left: 257px;
      font-size: 36px;
    }
    .class-tokme{
      border: 1px solid white;
      position: absolute;
      top: 325px;
      left: 406px;
      padding: 10px 20px;
      color: white;
      border-radius: 2px;
      font-weight: 900;
    }
  }
  //8******************************************************************************
  .div-2{
    margin-top: 40px;
    padding: 0 80px;
    height: 309px;
    .matn-2{
      float: left;
      width: 60%;
      .span-2{
        font-size: 38px;
      }
      .p-2{
        color: #C0C0C0;
        font-size: 11px;
        padding-top: 17px;
        line-height: 16px;
      }
    }
    #usb{
      font-size: 180px;
      float: right;
      width: 40%;
      color: $colors;
      text-align: right;
    }
  }
//  ***************************************************************************************
  .div-3{
    padding: 60px 80px;
    height: 258px;
    background-color: $background;
    .matn-3{
      float: right;
      width: 60%;
      .span-3{
        font-size: 38px;
      }
      .p-3{
        color: #C0C0C0;
        font-size: 11px;
        padding-top: 17px;
        line-height: 16px;
      }
    }
    #user{
      font-size: 180px;
      float: left;
      width: 40%;
      color: $colors;
      text-align: left;
    }
  }
//  ***************************************************************************************************
  .div-4{
    margin-top: 80px;
    padding-left: 100px;
    height: 518px;
    .div-left{
      width: 47%;
      float: left;
      padding-right: 20px;
      .icon-left-1{
        margin-bottom: 40px;
        #male{
          width: 40px;
          height: 40px;
          background-color: black;
          color: white;
          border-radius: 50%;
          position: absolute;
          .male{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            font-size: 20px;
          }
      }
        .matn-4-1{
          padding-left: 60px;
          width: 61%;
          .b-4-1{
            padding-top: 10px;
          }
          .p-4-1{
            font-size: small;
            color: $colors;

          }
        }

        }
      .icon-left-2{
        margin-bottom: 40px;
        #mobile{
          width: 40px;
          height: 40px;
          background-color: black;
          color: white;
          border-radius: 50%;
          position: absolute;
          .mobile{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            font-size: 25px;
          }
        }
        .matn-4-2{
          padding-left: 60px;
          width: 61%;
          .b-4-2{
            padding-top: 10px;
          }
          .p-4-2{
            font-size: small;
            color: $colors;

          }
        }
      }

      .icon-left-3{
        margin-bottom: 40px;
        #star{
          width: 40px;
          height: 40px;
          background-color: black;
          color: white;
          border-radius: 50%;
          position: absolute;
          .star{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            font-size: 20px;
          }
        }
        .matn-4-3{
          padding-left: 60px;
          width: 61%;
          .b-4-3{
            padding-top: 10px;
          }
          .p-4-3{
            font-size: small;
            color: $colors;
          }
        }
      }



    }
    .div-right{
      width: 48%;
      float: right;
      .icon-right-1{
        margin-bottom: 40px;
        #desktop{
          width: 40px;
          height: 40px;
          background-color: black;
          color: white;
          border-radius: 50%;
          position: absolute;
          .desktop{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            font-size: 20px;
          }
        }
        .matn-4-4{
          padding-left: 60px;
          width: 61%;
          .b-5-3{
            padding-top: 10px;
          }
          .p-5-3{
            font-size: small;
            color: $colors;
          }
        }
      }
      .icon-right-2{
        margin-bottom: 40px;
        #video{
          width: 40px;
          height: 40px;
          background-color: black;
          color: white;
          border-radius: 50%;
          position: absolute;
          .video{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            font-size: 20px;
          }
        }
        .matn-4-5{
          padding-left: 60px;
          width: 61%;
          .b-6-3{
            padding-top: 10px;
          }
          .p-6-3{
            font-size: small;
            color: $colors;
          }
        }
      }
      .icon-right-3{
        margin-bottom: 40px;
        #camera{
          width: 40px;
          height: 40px;
          background-color: black;
          color: white;
          border-radius: 50%;
          position: absolute;
          .camera{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            font-size: 20px;
          }
        }
        .matn-4-6{
          padding-left: 60px;
          width: 61%;
          .b-4-3{
            padding-top: 10px;
          }
          .p-4-3{
            font-size: small;
            color: $colors;
          }
        }
      }
    }

  }
//  *************************************************************
  .div-5{
    background-color: $background;
    padding: 20px 80px;
    .matn-div-5{
      position: relative;
      .class-h4{
        font-size: 31px;
        font-weight: 100;
        text-align: center;
        .div-5-b{
          font-size: 43px;
        }
      }
      .class-span{
        font-weight: 100;
        font-size: 12px;
        position: absolute;
        top: 50px;
        left: 268px;
        color: $colors;
      }
    }
    .box-1{
      position: relative;
      .circle-1{
        background-color: black;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: inline-block;
      }
      .shape-1{
          width: 120px;
          height: 80px;
          background: red;
          position: relative;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
        .shape-1:before {
          content: "";
          position: absolute;
          right: 100%;
          top: 26px;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-right: 26px solid red;
          border-bottom: 13px solid transparent;
        }
        .shape-1-a{
          position: absolute;
          left: 20px;
          top: 84px;
          text-decoration: none;
          color: $tag-a;
        }
      }
      .override-1{
         background-color: white;
         width: 400px;
         padding: 20px;
        position: absolute;
        left: 200px;
        bottom: 23px;
        border-radius: 0;
        border: solid 2px $border;
        color: $colors;
       }
    }

    .box-2{
      position: relative;
      margin-top: 70px;
      .shape-2{
        width: 120px;
        height: 80px;
        background: red;
        position: relative;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        .shape-2:before {
          content: "";
          position: absolute;
          right: 100%;
          top: 26px;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-right: 26px solid red;
          border-bottom: 13px solid transparent;
        }
        .shape-2-a{
          position: absolute;
          left: 20px;
          top: 84px;
          text-decoration: none;
          color: $tag-a;
        }
    }
      .override-2{
        background-color: white;
        width: 400px;
        padding: 20px;
        border-radius: 0;
        border: solid 2px $border;
        color: $colors;
      }
      .circle-2{
        background-color: black;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 500px;
        bottom: -12px;
      }
    }
  }
//******************************************************************************
  .div-6{
    height: 125px;
    position: relative;
    #envato{
      position: absolute;
      left: 75px;
      top: 42px;
      text-decoration: none;
      color: $text;
      .envato{
        background-image: url("./envato.svg");
        width: 20px;
        height: 20px;
      }
      .span-envato{
        font-size: 27px;
      }
    }
    .wordpress{
      font-size: 30px;
      color: $text;
      position: absolute;
      left: 240px;
      top: 42px;
      .word-b{
        font-size: 24px;
      }
      .color{
        color: $text;
    }
      .word-span{
        font-size: 18px;
      }
      .color-2{
        color: #C0C0C0;
      }
    }
    .button2{
      position: absolute;
      left: 462px;
      top: 42px;
      .ae{
        background-color: $text;
        border: none;
        color:white;
        padding:2px 11px;
        font-size: 20px;
        font-weight: 900;
        margin-right: -4px;
        border-bottom: 3px solid $border-button ;
      }
      .tuts{
        background-color: $text-2;
        border: none;
        color:white;
        padding:2px 9px;
        font-size: 20px;
        font-weight: 900;
        border-bottom: 3px solid $border-button ;
      }
    }
    .microlancer{
       width: 155px;
      position: absolute;
      left: 665px;
      top: -19px;
    }
  }
//  ***********************************************************************
    .div-7{
      background-color: black;
      padding: 30px 60px;
      height: 423px;
      #span-1{
        margin-left: 265px;
        position: relative;
        .span-7{
          color: white;
          font-size: 35px;
          font-weight: 100;
          .b-7{
            color: white;
            font-size: 50px;
            font-weight: 900;
          }
        }
        .span-7-1{
          color: #707070;
          font-size: 15px;
          position: absolute;
          left: 0px;
          top: 59px;
        }
      }
      #box1{
        margin-left: 77px;
        margin-top: 70px;
        position: relative;
        .border-1{
          border: 3px solid white;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        #matn-1{
          position: relative;
          margin-top: 5px;
          .span-box-1{
            color: white;
            font-weight: 900;
            font-size: 15px;
            position: absolute;
            left: 9px;
          }
          .span-box-2{
            color: white;
            font-weight: 100;
            font-size: 12px;
            position: absolute;
            left: 33px;
            top: 17px;
          }
        }
        #twitter{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 0px;
          top: 153px;
          .twitter{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
        #facebook{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 36px;
          top: 153px;
          .facebook{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);

          }
        }
        #pinterest{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 74px;
          top: 153px;
          .pinterest{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
      }
      #box2{
        margin-left: 325px;
        margin-top: -112px;
        position: relative;
        .border-2{
          border: 3px solid white;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        .matn-2{
          position: relative;
          margin-top: 5px;
          .span-box-3{
            color: white;
            font-weight: 900;
            font-size: 15px;
            position: absolute;
            left: 9px;
          }
          .span-box-4{
            color: white;
            font-weight: 100;
            font-size: 12px;
            position: absolute;
            left: 33px;
            top: 17px;
          }
        }
        #twitter-2{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 0px;
          top: 153px;
          .twitter{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
        #facebook-2{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 36px;
          top: 153px;
          .facebook{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
        #google{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 74px;
          top: 153px;
          .google{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
      }
      #box3{
        margin-left: 577px;
        margin-top: -112px;
        position: relative;
        height: 500px;
        .border-3{
          border: 3px solid white;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        .matn-3{
          position: relative;
          margin-top: 5px;
          .span-box-5{
            color: white;
            font-weight: 900;
            font-size: 15px;
            position: absolute;
            left: 9px;
          }
          .span-box-6{
            color: white;
            font-weight: 100;
            font-size: 12px;
            position: absolute;
            left: 22px;
            top: 17px;
          }
        }
        #facebook-3{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 22px;
          top: 153px;
          .facebook{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
        #pinterest-3{
          border: 2px solid white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          left: 59px;
          top: 153px;
          .pinterest{
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
      }
      #span-m{
        font-size: 12px;
        font-weight: 100;
        color: #EBEBEB;
        width: 505px;
        display: inline-block;
        text-align: center;
        position: absolute;
        left: 186px;
        top: 2773px;
      }
    }
//  **********************************************************************************************************
  .div-8{
    background-color:  #7690C5;
    color: white;
    height: 380px;
    padding-left: 30px;
    padding-top: 20px;
    position: relative;
    .div-left{
      width: 50%;
      float: left;
      #matn-8{
        position: relative;
        width: 90%;
        #span-8{
          font-weight: 100;
          font-size: 31px;
          position: absolute;
          left: 60px;
          top: 25px;
          #b{
            font-weight: 900;
            font-size: 35px;
          }
        }
        .span-8{
          font-size: 12px;
          font-weight: 100;
          position: absolute;
          top: 75px;
          left: 60px;
        }
      }
      #left{
        width: 50%;
        float: left;
        padding-left: 60px;
        padding-top: 140px;
        box-sizing: border-box;
        #icon-1{
          margin-bottom: 20px;
          .mobile{
            font-size: 20px;
          }
          #span-icon-1{
            font-weight: 100;
            font-size: 12px;
          }
        }
        #icon-2{
          margin-bottom: 20px;
          .twiter{
            font-size: 20px;
          }
          #span-icon-2{
            font-weight: 100;
            font-size: 12px;
          }
        }
        #icon-3{
          margin-bottom: 20px;
          .google{
            font-size: 18px;
          }
          #span-icon-3{
            font-weight: 100;
            font-size: 12px;
          }
        }
      }
      #right{
        width: 50%;
        float:right;
        padding-left: 30px;
        padding-top: 140px;
        box-sizing: border-box;
        #icon-4{
          margin-bottom: 20px;
          .envelop{
            font-size: 12px;
          }
          #span-icon-4{
            font-weight: 100;
            font-size: 12px;
          }
        }
        #icon-5{
          margin-bottom: 20px;
          .facebook{
            font-size: 20px;
          }
          #span-icon-5{
            font-weight: 100;
            font-size: 12px;
          }
        }
        #icon-6{
          margin-bottom: 20px;
          .pinterest{
            font-size: 18px;
          }
          #span-icon-6{
            font-weight: 100;
            font-size: 12px;
          }
        }
      }
    }
    .div-right{
      width: 50%;
      float: right;
      position: relative;
      //.label-1{

      #input-1{
        padding: 5px 10px;
        border-radius: 2px;
        border: none;
        color: #D2D2D2;
        position: absolute;
        top: 35px;
        left: 25px;
        width: 289px;
      }
    //}
    //  .label-2{
        #input-2{
          padding: 5px 10px;
          border-radius: 2px;
          border: none;
          color: #D2D2D2;
          position: absolute;
          top: 85px;
          left: 25px;
          width: 289px;
        }
      //}
      #textarea{
        font-size: 17px;
        padding: 5px 10px;
        color: #D2D2D2;
        position: absolute;
        top: 135px;
        left: 25px;
        border-radius: 4px;
      }
    }
    #border{
      width: 600px;
      height: 2px;
      background-color: #87A0D2;
      position: absolute;
      bottom: 60px;
      left: 157px;
    }
    .a-akhar{
      position: absolute;
      bottom: 20px;
      left: 350px;
      .copyright{
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-weight: 100;
      }
    }
  }
}